
<!DOCTYPE html>
{% load static %}
<html>
<head>
<style >
    .city {
  background-color: black;
  color: white;
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
  font-size: 120%;
  color: red;
}
.row {
  display: flex;
}
.item {
  flex: 16.66%;
  padding: 5px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.img2 {
  float: right;
}
.ct{
  text-align: center;
 }
</style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

    {% if title %}
        <title>Django Blog</title>
    {% else %}
        <title>Django Blog</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">Django Blog</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
               <a class="nav-item nav-link" href="{% url 'blog-contactus' %}">contactus</a>
                <a class="nav-item nav-link" href="{% url 'blog-about' %}">about</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                <img class ="account-img" src="{{user.profile.image.url }}" alt="Name">
                <div>
                </div>
                <a class="nav-item nav-link" href="{% url 'blog-profile' %}">{{user.username}}</a>
                <a class="nav-item nav-link" href="{% url 'blog-logout' %}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'blog-login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'blog-signup' %}">Register</a>
                {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main role="main" class="container">
        <div class="col-md-25  col-xs-9">
          {% block content %}{% endblock %}
    </div>
    </main>
    <footer >
<div class="section-space section-color">
  <div class="container-fluid">
    <div class="row client-logo">
      <div class="col-md-12 section-title">
        <h1>अन्य महत्वपूर्ण वेब साईट्स : </h1>
      </div>
      <div class="row">
         <div class="item"><a href="https://www.mygov.in/"><img src="https://fcs.up.gov.in/new-web/images/logo-mygov.png" alt="logo"></a></div>
         <div class="item"><a href="https://digitalindia.gov.in/"><img src="https://fcs.up.gov.in/new-web/images/logo-digital.png" alt="logo"></a></div>
     
      
        <div class="item"><a href="https://www.makeinindia.com/"><img src="https://fcs.up.gov.in/new-web/images/logo-makeindia.png" alt="logo"></a></div>
       
     
        <div class="item"><a href="https://swachhbharatmission.gov.in/"><img src="https://fcs.up.gov.in/new-web/images/logo-shwcht-bharat.png" alt="logo"></a></div>
        <div class="item"><a href="http://up.gov.in/"><img src="https://fcs.up.gov.in/new-web/images/logo-1.png" alt="logo"></a></div>
        <div class="item"><a href="https://www.india.gov.in/"><img src="https://fcs.up.gov.in/new-web/images/logo-2.png" alt="logo"></a></div>
  </div>
      </div>
  </div>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </footer>
</body>
</html>