{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color:#608248 ;
    }
</style>
{% for news in newses %}
  <!-- Left-aligned media object -->
  <div class="clearfix city">
    <div class="ct">
      <h4 style="color:red;" class="media-heading">{{news.title}}</h4>
      <p class="card-text text-muted h6">{{ news.created_on}} </p>
    </div>
    <div class="clearfix">
      <p style="color:white;">{{news.body|slice:":300"}}</p>
      <img src="{{news.image.url}}" class="img2" style="width:200px">
    </div>
</div>
{% endfor %}
</body>
{% endblock content %}